@font-face {
  font-family: 'fontello';
  src: url('https://dz2cdn1.dzone.com/themes/dz20/font/fontello.eot?11773374');
  src: url('https://dz2cdn1.dzone.com/themes/dz20/font/fontello.eot?11773374#iefix') format('embedded-opentype'),
  url('https://dz2cdn1.dzone.com/themes/dz20/font/fontello.woff?11773374') format('woff'),
  url('https://dz2cdn1.dzone.com/themes/dz20/font/fontello.ttf?11773374') format('truetype'),
  url('https://dz2cdn1.dzone.com/themes/dz20/font/fontello.svg?11773374#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: '\e815';
}
.icon-search:before {
  content: '\e80b';
}
.icon-plus:before {
  content: '\e826';
}
.icon-angle-up:before {
  content: '\e8d9';
}
.icon-angle-down:before {
  content: '\e8da';
}
.icon-angle-left:before {
  content: '\e8cf';
}
.icon-angle-right:before {
  content: '\e8d0';
}
.icon-rss-1:before {
  content: '\ea36';
}
.icon-facebook-1:before {
  content: '\ead0';
}
.icon-gplus:before {
  content: '\e9aa';
}
.icon-linkedin-1:before {
  content: '\ead9';
}
.icon-link-ext-alt:before {
  content: '\e836';
}
.icon-thumbs-up:before {
  content: '\e847';
}
.icon-thumbs-up-alt:before {
  content: '\e849';
}
.icon-comment:before {
  content: '\e860';
}
.icon-star:before {
  content: '\e811';
}
.icon-star-empty:before {
  content: '\e812';
}
.icon-twitter:before {
  content: '\e9d6';
}
.icon-eye:before {
  content: '\e83c';
}
.icon-cog:before {
  content: '\e889';
}
.icon-reply-3:before {
  content: '\eb8b';
}
.icon-plus-squared-alt:before {
  content: '\e829';
}
.icon-minus-squared-alt:before {
  content: '\e82d';
}
.icon-staff:before {
  content: '\eb93';
}
.icon-mvb-1:before {
  content: '\eb8e';
}
.icon-partner-mbv:before {
  content: '\eb94';
}
.icon-core-1:before {
  content: '\e854';
}
.icon-core-1 {
  font-size: 12px;
}
.icon-zone-leader:before {
  content: '\eb96';
}
.icon-web:before {
  content: '\eb48';
}
.icon-cog:before {
  content: '\e889';
}
.icon-download:before {
  content: '\e84b';
}
.icon-left-big:before {
  content: '\e8bd';
}
.icon-right-big:before {
  content: '\e8c4';
}
.icon-up-dir:before { content: '\e8a8'; } /* '' */
.icon-down-dir:before { content: '\e8a6'; } /* '' */
.icon-right-dir:before { content: '\e8b2'; } /* '' */
.icon-dot-3:before { content: '\eaa4'; } /* '' */
.icon-right-open:before { content: '\e8c5'; } /* '' */
.icon-play-circled:before { content: '\e8d4'; } /* '' */
.icon-gift:before { content: '\e931'; }
.icon-location:before { content: '\e86b'; } /* '' */
.icon-linkedin:before { content: '\e9b7'; } /* '' */
.icon-twitter:before { content: '\e9d6'; } /* '' */
.icon-youtube:before { content: '\e9e1'; } /* '' */
.icon-github:before { content: '\e9a5'; } /* '' */
.icon-spin3:before { content: '\eb19'; }
.icon-circle-notch:before { content: '\e938'; } /* '' */
.icon-cancel-circled-1:before { content: '\e9f7'; } /* '' */
.icon-clock:before { content: '\e898'; } /* '' */
.icon-pencil:before { content: '\e859'; } /* '' */
.icon-graduation-cap:before { content: '\e914'; } /* '' */
.icon-award-1:before { content: '\eb11'; } /* '' */
